@view-transition {
    navigation: auto;
}

::view-transition-group(*) {
    animation-duration: 0.5s;
}

::view-transition-old(root) {
    animation: slide-out-left 1s;
}

::view-transition-new(root) {
    animation: slide-in-right 1s;
}

@keyframes slide-out-right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
    
}

@keyframes slide-in-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}