---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Layout/Header.astro";
import Footer from "../components/Layout/Footer.astro";
import Hero from '../components/Layout/Hero.astro';
import BlogCard from '../components/Blogs/BlogCard.astro'; 
import { getCollection } from 'astro:content';

const posts = await getCollection('posts');


---

<Layout title="TechBlog - Modern Development Insights">
  <Header />
  <Hero />
  
  <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    
    <section class="mb-16 animate-fade-in-up" style="animation-delay: 0.5s;">
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
        {posts.map(post => (
          <BlogCard {...post.data} />
        ))}
      </div>
    </section>
  </main>
  
  <Footer></Footer>
</Layout>
